<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>User dashboard</title>
</head>
<body>
	<section class="justify-content-center align-items-center">
		<!-- class="banner d-flex justify-content-center align-items-center" -->
		<div th:object="${user}">
			<div th:if="${message}" th:classappend="${message.type}"
				class="alert" role="alert">
				<p class="text-center" th:text="${message.content}"></p>

				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<h1>Welcome, to user dashboard</h1>
			<h3>here we are going to use ECO-B app</h3>
			<hr>
			<h1>
				User's contact number : <span th:text="${user.contactNumber}"></span>
			</h1>
			<h1>
				User's name : <span th:text="${user.name}"></span>
			</h1>
			<hr>
			<p class="my-5">
				<a href="" th:href="@{/user/logout}"
					class="btn bg-primary btn-lg text-white"> Logout</a>
			</p>
			<hr>
			<h1>Your request's</h1>
			<div class="card-body">
				<div th:switch="${requests}" class="container my-5">
					<p class="my-5">
						<a href="/user/add" class="btn bg-primary btn-lg text-white">
							Request bicycle</a>
					</p>
					<h1 class="text-center">Requests dashboard</h1>
					<div class="col-md-10">
						<h2 th:case="null">No Requests yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Id</th>
										<th>User phone</th>
										<th>starting</th>
										<th>ending</th>
										<th>request time</th>
										<th>booked time</th>
										<th>finish time</th>
										<th>bicycle</th>
										<th>booking status(bicycle)</th>
										<th>ride status</th>
										<th>update ride status</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="req : ${requests}">
										<td th:text="${req.requestId}"></td>
										<td th:text="${req.userId}"></td>
										<td th:text="${req.startingPoint}"></td>
										<td th:text="${req.endingPoint}"></td>
										<td th:text="${req.requestTime}"></td>
										<td th:text="${req.bookedTime}"></td>
										<td th:text="${req.finishTime}"></td>
										<td th:text="${req.bicycleAlotted}"></td>
										<!-- <td><a th:href="@{/admin/edit/{id}(id=${req.requestId})}"
											class="btn bg-primary btn-lg text-white"><i
												class="fas fa-user-times ml-2">update</i></a></td> -->
										<td
											th:style="${req.requestStatus} ?  'color:green': 'color:red' "
											th:text="${req.requestStatus} ? 'Bicycle alotted' : 'NOT Alotted' "></td>
										<td
											th:style="${req.rideStatus} ?  'color:green': 'color:red' "
											th:text="${req.rideStatus}? 'completed' : 'NOT completed' "></td>
										<td><a
											th:href="@{/user/edit/{id}(id=${req.requestId})}"
											class="btn bg-primary btn-lg text-white"><i
												class="fas fa-user-times ml-2">update status</i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>