<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>in about page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div>
			<h1>ECO-B</h1>
			<h3>We tried to continue the problem statement of our one of team member has while he's dealing with his 
			engineering project. His team was very successful in creating mechanical model of ECO-B, now with help of
			 this application we are serving application purpose.</h3>
		</div>
	</section>
</body>
</html>