<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>in home page</title>
</head>
<body>
	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">ECO-B Application</h1>
			<p>Modern way to commute</p>
			<button class="btn bg-primary btn-lg text-white">Get Start</button>
		</div>
		<hr>
		<!-- new addition : quote -->
		<!-- <div class="card">
			<div class="card-header bg-primary btn-lg text-white">Quote</div>
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>A well-known quote, contained in a blockquote element.</p>
					<footer class="blockquote-footer">
						Someone famous in <cite title="Source Title">Source Title</cite>
					</footer>
				</blockquote>
			</div>
		</div> -->
	</section>
</body>
</html>